/*
    public static final Color ORANGE = Color.rgb(255, 120, 0);
        public static final Color BUTTON_COLOR_THEME = Color.rgb(242, 203, 138);
        public static final Color BUTTON_LIGHT_COLOR_THEME = Color.rgb(251, 237, 191);
        //public static final Color LIGHTER_GRAY = Color.rgb(-1118482);
        public static final Color DARKER_GRAY = Color.rgb(160,160,160);
        public static final Color BUTTON_TEXT_COLOR = Color.BLACK;
        public static final Color BACKGROUND_COLOR_THEME = Color.rgb(198, 153, 86);
        public static final Color BORDER_COLOR_THEME = Color.rgb(104, 72, 39);
*/

.root {
    -fx-font-family: "Cambria";
    -fx-font-size: 14
}

#inventoryItem {
    -fx-font-family: "Cambria";
    -fx-border-color: rgb(198, 153, 86);
    -fx-font-size: 20;
    -fx-border-radius: 5;
    -fx-min-width: 400;
    -fx-max-width: 400;
    -fx-padding: 1;
    -fx-background-radius: 5;
}

#inventoryItem:hover {
    -fx-border-color: rgb(104, 72, 39);
    -fx-background-color: rgb(251, 237, 191);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

#questTitle {
-fx-font-family: "Cambria";
    -fx-border-color: rgb(198, 153, 86);
    -fx-font-size: 16;
    -fx-border-radius: 5;
    -fx-min-width: 255;
    -fx-max-width: 255;
    -fx-padding: 1;
    -fx-background-radius: 5;
}

#questTitle:hover {
    -fx-border-color: rgb(104, 72, 39);
    -fx-background-color: rgb(251, 237, 191);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

#menu {
    -fx-text-fill: #006464;
    -fx-background-color: rgb(198, 153, 86);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#standardPane {
    -fx-text-fill: #000000;
    -fx-background-color: rgb(198, 153, 86);
    -fx-border-radius: 9;
    -fx-border-color: rgb(104, 72, 39);
    -fx-background-radius: 11;
    -fx-border-width: 2;
    -fx-padding: 5;

}

#menu GameButton {
    -fx-text-color: #FF0000;

}

#neonTest {
    -fx-background-image: url("file:Images/TestBack.png");
}

#grass {
    -fx-background-image: url("file:Images/GrassBackground.png");
}


#interior-black {
    -fx-background-image: url("file:Images/BlackBackground.png");
}

#mainmenu {
    -fx-background-image: url("file:Images/MainMenu.png");
}

.tab-pane:focused {
    -fx-focus-color: rgb(104, 72, 39);
}

.tab-pane *.tab-header-background {
 -fx-background-color:  rgb(198, 153, 86);
}

.tab:selected {
    -fx-tab-border-color:  rgb(198, 153, 86);
}

/*.tab-pane {
    -fx-background-color:  rgb(198, 153, 86);
}*/

.tab .tab-label {
    -fx-font-size: 12px;
}